<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Vision")}</%block>

<section class="static-container about">
<h1>${_("We are driven to be a leader in providing technological Services and Solutions that lead to Success!

    ")}</h1>
<p>${_("Sibasi Ltd is an ICT company based in Nairobi, Kenya, and providing services across Africa, Europe, North America, Asia and South America. As a company, we have adopted the slogan

    ")}</p>
</section>
